<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
  <title>Sistema de Registro</title>
</head>
<body>
  <div id="registro-form">
    <h2>Registro de Actividades</h2>
    <label for="carne">Número de Carné:</label>
    <input type="text" id="carne" placeholder="Ingrese su número de carné">
    <br><br>

    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha">
    <br><br>

    <label for="horaInicio">Hora de Inicio:</label>
    <input type="time" id="horaInicio">
    <br><br>

    <label for="horaFin">Hora Fin:</label>
    <input type="time" id="horaFin">
    <br><br>

    <button onclick="agregarActividad()">Agregar Actividad</button>

    <table>
      <thead>
        <tr>
          <th>Número de Carné</th>
          <th>Fecha</th>
          <th>Hora de Inicio</th>
          <th>Hora Fin</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody id="actividadesTableBody"></tbody>
    </table>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
